@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0px;
    padding:0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
   
}

:root{
    --cor1: #3071A9;
}

header{
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: rgb(78, 74, 74);
    background-color: rgba(237, 240, 243, 0.856);
    width: 100%;
    text-align: center;
    margin: 0px;
    margin: auto;
    justify-items: center;
}
header > h1{
    width: 100%;
    text-align: center;
}
header > p {
    text-align: center;
    justify-content: center;
}
header > p >img {
    text-align: center;
    height: 200px;
    padding: 0px;
    margin: 0px;
}
main{
    margin: auto;
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}
main > p {
    padding-left: 10px;
    padding-right: 10px;
}
ol{
    margin-left: 1.5em;
}
li{
    padding: 2px;
}

.desc{
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pdesc{
    text-align: justify;
    text-indent: 1.5em;
    padding-bottom: 5px;
    width: 100%;
}

.toc{
    border: solid 1px rgb(26, 24, 24);
    width: 40%;
    border-radius: 0.2em;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
#container-toc{
    width: 30%;
    text-align: left;
    padding-left: 10px;
}
 
  
.external-link::after{
    font-family: 'FontAwesome';
    content: "\f14c";
}
.external-link{
   font-weight: bold;
   color: rgb(40, 40, 46);
   border-radius: 0.2em;
   padding:4px;
}
.external-link:hover{
    color: rgb(155, 151, 151);
}


#toc-title{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.step{
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: justify;
    padding: 5px;
    background: linear-gradient( to right, rgb(222, 222, 226) , rgb(255, 255, 255) );

    border-radius: 0.2em;
}
#kfront{
    margin-top: 1em;
    width: 90%;
    margin-bottom: 0.5em;
    text-align: justify;
    
    padding: 5px;
    background: linear-gradient( to right, rgb(0, 235, 79) , rgb(255, 255, 255) );
    border-radius: 0.2em;
}
#kfront::before{
    content: '  \21D2';
}

#insKfront{
    background-color:rgb(17, 253, 49);
    border-radius: 0.2em;
    margin-left: 2.5em;
    width: 80%;
}
.list-step{
    margin-left: 2em;
    columns: 2;
    padding: 20px;
}
.list-step > li {
    justify-content: space-between;
}

.list-step-command{
    margin-left: 2em;
    padding: 20px;
}
.list-step-command-tip{
    margin-left: 2em;
    border-radius: 0.2em;
    margin-right: 2em;
    padding: 20px;
    background-color: rgba(88, 80, 80, 0.233);
}
.container-img{
    margin-right: 1em;
    margin-left: 2em;
    display: inline-block;
    
}
.container-img > a >img{
    width: 30%;
    display: inline-flex;
    padding: 5px;
}

#need{
    width: 80%;
}
#container-stuff{
    width: 90%;
}
.stuff-img{
    width: 50%;
    vertical-align: middle;
}
#nuttxMenu{
    width: 100%;
}
#lsusb {
    width: 100%;
}
#info{
    background-color: rgb(230, 230, 240);
    border-radius: 0.2em;
    border: solid 1px rgb(182, 175, 175);
    width: 100%;
    margin: auto;
}
#ferror{
    margin-bottom: 0px;
    margin: 0px;
    color: rgb(255, 6, 6);
    margin-left: 1em;
}
#perror{
    background-color: rgb(139, 139, 175);
    margin: auto;
    width: 100%;
}
#solution{
    background-color: rgb(230, 230, 240);
    border-radius: 0.2em;
    border: solid 1px rgb(182, 175, 175);
    width: 100%;
    margin: auto;
}

#minicom > a > img{
   width: 100%;
   display: block;
}
#minicom2{
    padding-top: 5px;
    height: 100%;
    width: 50%;
}
#cpuid{
   
    width: 80%;
}
#resetbtn{
    padding-top: 5px;
    width: 100%;
}
#ntx{
    width: 100%;
}
#solve-list>li{
    margin-left: 1em;
}
@media screen and (max-width: 800px) {
    #container-toc{
        font-size: 10px;
    }
    #container-stuff{
        width: 90%;
        font-size: 12px;
    }
    footer{
        font-size: 5px;
    }
}
footer{
    background-color: rgb(63, 60, 60);
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

#doubt{
    width: 100%;
}
/*
CSS autor : https://sergioprado.org/analisando-firmware-roteador-com-binwalk/ 
*/
.crayon-theme-classic{
    border-width:1px!important;
    border-color:#999!important;
    border-style:solid!important;
    text-shadow:none!important;
    background:#fdfdfd!important
}
.wp_syntax {
	color           : #100;
	background-color: #f9f9f9;
	border          : 1px solid silver;
	margin          : 0 0 1.5em 0;
	overflow        : auto;
    margin-left: 2em;
}

/* IE FIX */
.wp_syntax {
	overflow-x    : auto;
	overflow-y    : hidden;
	width         : 80%;
}

.wp_syntax table {
	border         : none !important;
	border-collapse: collapse !important;
	margin         : 0 !important;
	padding        : 0 !important;
	width          : 100% !important;
}

.wp_syntax caption {
	margin          : 0 !important;
	padding         : 2px !important;
	width           : 100% !important;
	background-color: #def !important;
	text-align      : left !important;
	font-family     : monospace !important;
	font-size       : 12px !important;
	line-height     : 1.2em !important;
}

.wp_syntax caption a {
	color          : #1982d1 !important;
	text-align     : left !important;
	font-family    : monospace !important;
	font-size      : 12px !important;
	line-height    : 16px !important;
	text-decoration: none !important;
}

.wp_syntax caption a:hover {
	color          : #1982d1 !important;
	text-decoration: underline !important;
}

.wp_syntax div, .wp_syntax td {
	border        : none !important;
	text-align    : left !important;
	padding       : 0 !important;
	vertical-align: top !important;
}

.wp_syntax td.code{
	background-color: #EEE;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: -moz-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: -ms-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: -o-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-size : 1px 32px;
	line-height     : normal !important;
	white-space     : normal !important;
	width           : 100% !important;
}
.oneimg{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 0.2em;
}


/* potential overrides for other styles */
.wp_syntax pre {
	background           : transparent !important;
	border               : none !important;
	margin               : 0 !important;
	padding              : 0 !important;
	width                : auto !important;
	float                : none !important;
	clear                : none !important;
	overflow             : visible !important;
	font-family          : monospace !important;
	font-size            : 12px !important;
	line-height          : 16px !important;
	padding              : 0 4px !important;
	white-space          : pre !important;
	-moz-box-shadow      : 0px 0px 0px rgba(0, 0, 0, 0) !important; /* FF3.5+ */
	-webkit-box-shadow   : 0px 0px 0px rgba(0, 0, 0, 0) !important; /* Saf3.0+, Chrome */
	box-shadow           : 0px 0px 0px rgba(0, 0, 0, 0) !important; /* Opera 10.5, IE 9.0 */
	-webkit-border-radius: 0 !important;
	-moz-border-radius   : 0 !important;
	border-radius        : 0 !important;
}

.wp_syntax td.line_numbers pre {
	background-color: #def !important;
	color           : gray !important;
	text-align      : right !important;
	width           : 16px !important;
}